ENV=dev # or prod
DEBUG=true # or false

MONGO_CONNECTION_URI=your_mongodb_uri

REDIS_URL=your_redis_url

CLERK_ISSUER=your_clerk_issuer_url
CLERK_JWKS_URL=your_clerk_jwks_url
CLERK_SECRET_KEY=your_clerk_secret_key

ALLOWED_ORIGINS=["http://localhost:5173", "https://your.host.example.com"]

ZABBIX_URL=http://localhost:8080/api_jsonrpc.php
ZABBIX_USER=Admin
ZABBIX_PASSWORD=zabbix
