ENV=dev # or prod
DEBUG=true # or false

OPENAI_COMPAT_API_URL=http://localhost:1234/v1
# AWS_BEDROCK_OPENAI_COMPAT_API_URL=your_bedrock_openai_compat_api_url_here
# AWS_BEDROCK_API_KEY=your_bedrock_api_key_here

DB_URI=your_postgresql_uri
MONGO_CONNECTION_URI=your_mongodb_uri
