# PostgreSQL
DB_SERVER_HOST=postgres
POSTGRES_USER=zabbix
POSTGRES_PASSWORD=zabbix_pass
POSTGRES_DB=zabbix

# Zabbix server
ZBX_SERVER_NAME=zabbix-agent

# Zabbix frontend
PHP_TZ=Asia/Kolkata

# Zabbix agent
ZBX_SERVER_HOST=zabbix-server
ZBX_HOSTNAME=zabbix-agent

# Python zabbix_utils
ZABBIX_URL=http://localhost:8080/api_jsonrpc.php
ZABBIX_USER=Admin
ZABBIX_PASSWORD=zabbix
